@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-SemiBoldItalic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-LightItalic.ttf')
    format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-MediumItalic.ttf')
    format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-BlackItalic.ttf')
    format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-RegularItalic.ttf')
    format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-ExtraBoldItalic.ttf')
    format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-BoldItalic.ttf')
    format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Thin.ttf')
    format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Bold.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Black.ttf')
    format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-ThinItalic.ttf')
    format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hellix';
}

header > h1 {
  text-align: center;
  font-weight: normal;
  /* border: 2px red solid; */
  padding: 2rem;
  background: #fff;
  box-shadow: 1px 9px 20px -1px rgba(17, 18, 53, 0.3);
}

.bld-txt {
  font-weight: bold;
}

.inner-container,
.cards-flex,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px red solid;
}

.main-images {
  width: 100%;
  max-width: 500px;
  padding: 1rem 0;
}

.main-slogan {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

.main-para {
  font-size: 16px;
  line-height: 1.5rem;
  padding: 1rem 0 2rem 0;
  text-align: center;
}

.contact-btn {
  font-size: 18px;
  background: #4b5092;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 35px;
  width: 100%;
  max-width: 200px;
  border: none;
}

.second-tagline,
.fourth-container {
  text-align: left;
  background: #f2f8ff;
  padding: 45px 15px;
  width: 100%;
}

.second-tagline > h2 {
  font-size: 48px;
  font-weight: normal;
  padding: 0 0 2rem 0;
}

.second-tagline > p {
  font-size: 16px;
  line-height: 1.5rem;
}

.third-container {
  background: linear-gradient(to right, #bad4ff 0%, #6487bf 100%);
  width: 100%;
  margin: 6rem 0 0 0;
  text-align: center;
}

.third-container > h2 {
  font-size: 48px;
  padding-top: 4rem;
}

.third-container .subtitle {
  font-size: 18px;
  font-weight: bold;
  padding: 2rem 0;
}

.third-container > button {
  font-size: 18px;
  color: #436baa;
  background: #fff;
  border: none;
  padding: 1rem 3rem;
  border-radius: 35px;
  margin: 2rem 0 0 0;
}

.main-images.trainer {
  padding-bottom: 0;
}

.main-images.third-image {
  margin-top: 2rem;
}

.benefits {
  font-size: 48px;
  font-weight: normal;
  color: #111235;
  margin: 3rem 0 2rem 0;
}

.card-des {
  padding: 3rem 2rem;
  border-radius: 30px;
  margin-bottom: 2rem;
  text-align: center;
}

.card-des.blue {
  background: #e4f0ff;
}

.card-des.purple {
  background: rgba(114, 122, 239, 0.1);
}

.card-des > p {
  font-weight: 100;
  margin-top: 1rem;
}

.contact-btn.get-btn {
  margin-bottom: 4rem;
}

footer > h2 {
  font-weight: normal;
  margin-bottom: 2rem;
}

footer > ul,
footer > h3 {
  text-align: center;
}

footer > ul > li {
  list-style: none;
  padding: 0 0 2rem 0;
}

footer > h3 {
  font-weight: 600;
}
footer > input {
  background: url('images/Vector.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border: none;
  background-color: #fff;
  padding: 1rem 1.3rem;
  width: 70%;
  border-radius: 10px;
}

footer > input::placeholder {
  color: #111235;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

footer > p {
  font-size: 14px;
}
