@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-SemiBoldItalic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-LightItalic.ttf')
    format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-MediumItalic.ttf')
    format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-BlackItalic.ttf')
    format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-RegularItalic.ttf')
    format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-ExtraBoldItalic.ttf')
    format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-BoldItalic.ttf')
    format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Thin.ttf')
    format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Bold.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Black.ttf')
    format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-ThinItalic.ttf')
    format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Hellix';
  src: url('https://assets.codepen.io/6060109/Hellix-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hellix';
}

header > h1 {
  text-align: center;
  font-weight: normal;
  border: 2px red solid;
  padding: 2rem;
  background: #fff;
}

.bld-txt {
  font-weight: bold;
}

.inner-container {
  border: 2px green solid;

  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inner-container > img {
  width: 100%;
  max-width: 500px;
}

.main-slogan {
  font-size: 64px;
  font-weight: normal;
}

.main-para {
  font-size: 16px;
  line-height: 1.5rem;
  padding: 1rem 0 2rem 0;
}

.contact-btn {
  font-size: 18px;
  background: #4b5092;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 35px;
  width: 100%;
  max-width: 200px;
}
